[package]
name = "privatepay_starknet"
version = "0.1.0"
edition = "2024_07"

[dependencies]
starknet = "2.14.0"

[lib]

[[target.starknet-contract]]
sierra = true
casm = true

[tool.fmt]
sort-module-level-items = true
